<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>MeetMe | Create Proposal</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
     href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"
/>

<link rel="stylesheet" type="text/css"
 href="/static/css/daterangepicker.css"
/>

<link rel="stylesheet" type="text/css"
    href="/static/css/busy.css"
/>

<!-- jquery from a content distribution network; probably cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Moment from a content distribution network (CDN) -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js">
</script>

<!-- Bootstrap Date Range Picker from a content distribution network (CDN) -->
<script type="text/javascript"
        src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js">
</script>

</head>

<body>
<div class="container">

  <!--
If there are any warnings or other messages from a prior action,
they appear above the rest of the content, just until the next
action.
  -->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div class="page-header">
  <h2>MeetMe <small>Create a New Meeting Proposal</small></h2>
</div>

<label>Instructions</label>
<ol>
  <li>Choose a date range and select the choose button. You may be redirected
    so you
    can authenticate with Google.</li>
  <li>Select the calendars to calculate available times from.</li>
  <li>Email the provided link to all other participants.</li>
  <li>After everyone has responded, go to the Choose a Meeting Time page that
    will be linked below after selecting calendars and choose one of the
    available times.</li>
</ol>
<p>
  <span class="bold">Note:</span> The daily available time is from 0900 to 1700
  (9:00 am to 5:00 pm).
</p>
<hr>

{# Shows the date range picker #}
<form action="{{ url_for('set_range') }}" method="post">
  <div class="form-group">
    <label for="daterange">Date Range</label>
    <input class="form-control pull-down" type="text" id="daterange"
          {% if session.daterange is defined %}
            value="{{ session.daterange }}"
          {% endif %}
          name="daterange"
          style="background: #fff; cursor: pointer; padding: 5px 10px;
         border: 1px solid #ccc;" >
  </div>
  <script type="text/javascript">
    $(function() {
      $('input[name="daterange"]').daterangepicker({
        ranges: {
          'Today': [moment(), moment()],
          'Tomorrow': [moment().add(1, 'days'), moment().add(1, 'days')],
          'This week': [moment(), moment().endOf('week')],
          'Next week': [moment().add(7, 'days').startOf('week'),
                        moment().add (7, 'days').endOf('week')],
          'This month': [moment(), moment().endOf('month')],
          'Within two weeks': [moment(), moment().add(15, 'days')]
        }
      });
    });
  </script>
  <button type="submit" class="btn btn-default">Choose</button>
</form>

{# Shows the set of calendars from the user. #}
{% if session.calendars is defined %}
  <hr>
  <form action="{{ url_for('set_checked_calendars') }}" method="post">
    <label for="calendars">Calendars</label>
    <div class="container-fluid" id="calendars">
      {% set i = 0 %}
      <div class="row">
        <div class="form-group pull-left col-md-3">
        {% for cal in session.calendars if cal.selected %}
          <div class="checkbox">
            <label>
              <input type="checkbox" name="calendar" value="{{ cal.id }}">
              {{ cal.summary }}
            </label>
          </div>
          {% if loop.index is divisibleby 3 %}
            {% set i = i + 1 %}
            </div>
            <div class="form-group pull-left col-md-4">
            {% if i == 3 %}
              {% set i = 0 %}
              </div>
              <div class="row">
            {% endif %}
          {% endif %}
        {% endfor %}
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-default">Get times</button>
  </form>
  <hr>
{% endif %}

{# Shows the free times for the selected calendar(s).#}
{% if session.free_times is defined %}
  <label for="free-times">Your Available Times</label>
  <ul class="list-group" id="free-times">
  {% for interval in session.free_times %}
    <li class="list-group-item">
      {{ interval[0] | fmtdatetime }} - {{ interval[1] | fmtdatetime }}
    </li>
  {% endfor %}
  </ul>
  <hr>

  <p class="bold">
    Go to this URL to see the current possible meeting times, to select a
    meeting time, and to destroy the meeting proposal:
  </p>
  <p>
    <a href="{{ request.url_root }}finalize-meeting?key={{ session.key }}">
    {{ request.url_root }}finalize-meeting?key={{ session.key }}
    </a>
  </p>
  <hr>
  <p class="bold">
    Send this URL to this proposed meeting's participants so they can add
    their available times:
  </p>
  <p>
    <a href="{{ request.url_root }}add-times?key={{ session.key }}">
      {{ request.url_root }}add-times?key={{ session.key }}
      </a>
  </p>
  <hr>

{#  <ul>#}
{#    <li>#}
{#      You may send a link to this proposed meeting's participants for adding#}
{#      their available times by adding their email addresses using the form#}
{#      below. Then, you may modify and send the message.#}
{#    </li>#}
{#    <li>#}
{#      <span class="bold">WARNING:</span> You must either be on campus or#}
{#      connected to the <a href="https://uovpn.uoregon.edu/">UO VPN</a> to send#}
{#      mail with this form!#}
{#    </li>#}
{#    <li>#}
{#      Alternately, you may copy and email this:#}
{#      <a href="{{ request.url_root }}add-times?key={{ session.key }}">#}
{#      {{ request.url_root }}add-times?key={{ session.key }}#}
{#      </a>#}
{#    </li>#}
{#  </ul>#}

{#  <form action="{{ url_for('add_recipient') }}" method="post">#}
{#    <label for="add-recipient">Add Recipient</label>#}
{#    <div id="add-recipient">#}
{#      <div class="form-group">#}
{#        <input type="text" class="form-control" id="recipient_address"#}
{#               name="recipient_address" placeholder="Address"/>#}
{#      </div>#}
{#      <button class="btn btn-default" id="add-button" type="submit">#}
{#          Add Recipient#}
{#      </button>#}
{#    </div>#}
{#  </form>#}

{#  {% if session.recipients %}#}
{#    <form action="{{ url_for('remove_recipient') }}" method="post">#}
{#      <label for="recipients">Recipients</label>#}
{#      <div id="recipients">#}
{#        {% for recipient in session.recipients %}#}
{#          <div class="row" id="recipient">#}
{#            <div class="col-md-4">#}
{#              <input class="form-control" type="text" value="{{ recipient }}"#}
{#                     id="recipient_address" name="recipient_address" readonly>#}
{#            </div>#}
{#            <button class="btn btn-default" id="remove-button" type="submit"#}
{#                    name="remove-button">#}
{#                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>#}
{#            </button>#}
{#          </div>#}
{#        {% endfor %}#}
{#      </div>#}
{#    </form>#}
{##}
{#    <form action="{{ url_for('send_mail') }}" method="post">#}
{#      <div class="form-group">#}
{#        <label for="message-body">Subject</label>#}
{#        <input type="text" id="subject" name="subject" class="form-control"#}
{#               value="MeetMe: Add your available times">#}
{#      </div>#}
{#      <div class="form-group">#}
{#        <label for="comment">Message</label>#}
{#<textarea class="form-control" rows="6" id="message-body" name="message-body">#}
{#You have been invited to a meeting. Please go to the URL linked below to add your available times.#}
{##}
{#{{ request.url_root }}add-times?key={{ session.key }}#}
{##}
{#Thanks!#}
{#</textarea>#}
{#      </div>#}
{#      <button class="btn btn-default" id="send-mail" type="submit">#}
{#          Send#}
{#      </button>#}
{#    </form>#}
{#    <hr>#}
{#  {% endif %}#}
{% endif %}

</div>  <!-- container (for bootstrap) -->
</body>
</html>
